.landing {
  height: 16rem;
  background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 0 0 0.6rem 0.6rem;

  box-shadow: -1px 24px 29px -17px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: -1px 24px 29px -17px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -1px 24px 29px -17px rgba(0, 0, 0, 0.33);
}
